In [1]:
#data is been stored in variable
#variable is tempory storage

student="sam"

In [2]:
student

'sam'

In [3]:
student="john"

In [4]:
student

'john'

In [5]:
#variable is associated with a data type
#int
#float
#Boolean----True or False
#string---"..."
#complex

In [6]:
a1=10
a1

10

In [7]:
type(a1)

int

In [9]:
a1=3.14
a1

3.14

In [10]:
type(a1)

float

In [11]:
a1=True
a1

True

In [12]:
type(a1)

bool

In [14]:
a1="heelo"
a1

'heelo'

In [15]:
type(a1)

str

In [16]:
a1=3+4j

In [17]:
a1

(3+4j)

In [18]:
type(a1)

complex

In [19]:
#Arithmetic operators
# +-/*

In [20]:
a=10
b=30

In [21]:
a,b

(10, 30)

In [22]:
a+b

40

In [23]:
a-b

-20

In [24]:
a/b

0.3333333333333333

In [25]:
a*b

300

In [27]:
#Relational operators
#<,>,==,!

In [28]:
a=30
b=50

In [29]:
a>b

False

In [30]:
a<b

True

In [31]:
a==b

False

In [32]:
a!=b  #not equal

True

In [34]:
#logical operators
# & |

In [35]:
a=True
b=False

In [36]:
a & a

True

In [37]:
a & b

False

In [38]:
b & b

False

In [39]:
a | b

True

In [40]:
b | a

True

In [41]:
a|a

True

In [42]:
b|b

False

In [43]:
# Python tokens
 #smallest meaning component in a program
#keywords
#Identifiers
#literals
#operators


#keywords are special reserved words
#False   #class     #Finally   #Is        #Return
#None    #continue  #For       #Lambda    #Try
#True    #def       #From      #Nonlocal  #While 
#and     #del       #Global    #Not       #With
#as      #elif      #if        #Or        #Yield


#cant use keywords for variable

In [44]:
#Python Identifiers----names used for variable functions or object
#rules---1.No special character expect_(underscore)
         #2.Identifiers are case sensitive
         #3.First letter can be digit

In [45]:
#python literal---they are constant

In [46]:
a="Hello world"

In [47]:
a

'Hello world'

In [48]:
#Python strings
#(''),(""),('''abc''')

In [49]:
#Extracting Individual Character
my_string="My name is john"

In [50]:
my_string

'My name is john'

In [51]:
my_string[0]

'M'

In [52]:
my_string[-1]

'n'

In [53]:
my_string[5:11]

'me is '

In [54]:
#string Functions
#1.length of string
#2.String to lower case
#3.String to upper case
#4.Replace
#5.count
#6.find---finding the index of substring
#7.splitting---to split

In [55]:
#length
len(my_string)

15

In [57]:
#lower case
my_string.lower()

'my name is john'

In [58]:
#upper case
my_string.upper()

'MY NAME IS JOHN'

In [59]:
#replace (first parameter--the one to be replaced second ---replaced )
my_string.replace('m','w')

'My nawe is john'

In [60]:
#count
my_string.count("is")

1

In [64]:
#find
my_string.find("john")

11

In [65]:
fruit="i like apple,mango,orange"
print(fruit)

i like apple,mango,orange

In [66]:
#split
fruit.split(",")

['i like apple', 'mango', 'orange']

## Data structure in Python
##### 1.Tuple     2.List     3.Dictionary     4.Set

### 1.Tuple
It is an ordered collection of element enclosed within()
,it is immutable,once stored cant be changed, can store hetrogenous data like..integers,alphabets,logical values

In [70]:
tup1=(1,True,a,3.14)

In [71]:
print(tup1)

(1, True, 'Hello world', 3.14)

In [73]:
type(tup1)

tuple

In [74]:
#Extracting Individual Elements
#slicing
tup1[1]

True

In [75]:
tup1[-1]

3.14

In [76]:
tup1[1:4]

(True, 'Hello world', 3.14)

In [77]:
#modifying a tuple---not allowed
tup1[2]="hello"

TypeError: 'tuple' object does not support item assignment

##### Tuple operations
#length
#concatenating tuple 
#repeating
#repeating and concatenating

In [79]:
len(tup1)

4

In [80]:
tup1

(1, True, 'Hello world', 3.14)

In [81]:
tup2=(1,2,3,4)

In [82]:
#concatenating----adds to end(adds tup2 at end of tup1)
tup1+tup()

(1, True, 'Hello world', 3.14, 1, 2, 3, 4)

In [83]:
#(adds tup1 at end of tup2)
tup2+tup1

(1, 2, 3, 4, 1, True, 'Hello world', 3.14)

In [84]:
#Repeating tuple Element
tup1=("saloni",22)
tup1*3

('saloni', 22, 'saloni', 22, 'saloni', 22)

In [85]:
#Repeating and concatenating
tup1=('sparta',300)
tup2=(4,5,6)
tup1*3+tup2

('sparta', 300, 'sparta', 300, 'sparta', 300, 4, 5, 6)

### Tuple functions
#maximum
#minimum

In [88]:
#Minimum value
tup1=(1,2,3,4,5,6)
min(tup1)

1

In [89]:
#Maximum value
max(tup1)

6

### List
##### ordered collection of elements enclosed within[x]
##### list are mutable
##### hetrogenous character

In [91]:
list1=[1,"a",2,3.14,True]
list1

[1, 'a', 2, 3.14, True]

In [92]:
#Extracting individual elements slicing
list1[3]

3.14

In [93]:
list1[1:3]

['a', 2]

In [94]:
#Modifying a list

In [95]:
#changing element at 0th index
list1[0]=100
list1

[100, 'a', 2, 3.14, True]

In [96]:
#popping the last element
list1.pop()
list1

[100, 'a', 2, 3.14]

In [97]:
#appending a new element
list1.append("saloni")
list1

[100, 'a', 2, 3.14, 'saloni']

In [103]:
#Reversing element of list
list1.reverse()
list1

[100, 'a', 2, 3.14, 'saloni']

In [105]:
#insert
list1.insert(3,"hello")
list1

[100, 'a', 2, 'hello', 'hello', 3.14, 'saloni']

In [111]:
#sorting a list
list2=[1,2,3,4,5,6]
list2
list2.sort()
list2

[1, 2, 3, 4, 5, 6]

In [112]:
list1

[100, 'a', 2, 'hello', 'hello', 3.14, 'saloni']

In [114]:
##list basic operation
###concatenating list
###Repeating element

In [115]:
##cocatenating list
list1=[1,2,3]
list2=["a","b","c"]
list1+list2

[1, 2, 3, 'a', 'b', 'c']

In [116]:
#repeating elements
list1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Dictionary in python
##### unordered collection of key value pairs enclosed with{x}
#### mutable

In [117]:
dic1={"apple":50,"mango":40,"guava":30}
dic1

{'apple': 50, 'mango': 40, 'guava': 30}

In [119]:
type(dic1)

dict

In [124]:
 #Extracting keys and values
    #Adding
    #change

In [122]:
#extracting keys
dic1.keys()

dict_keys(['apple', 'mango', 'guava'])

In [125]:
dic1.values()

dict_values([50, 40, 30])

In [127]:
#adding
dic1["lichi"]=70

In [128]:
dic1

{'apple': 50, 'mango': 40, 'guava': 30, 'lichi': 70}

In [130]:
#changing
dic1["apple"]=100

In [137]:
dic1

{'apple': 100, 'mango': 40, 'guava': 30, 'lichi': 70}

In [ ]:
#Dictionary Functions
#update
#pop

In [133]:
#update one dictionary element with another
fruit1={"apple":10,"mango":20}
fruit2={"banana":30,"guava":40}

fruit1.update(fruit2)
fruit1

{'apple': 10, 'mango': 20, 'banana': 30, 'guava': 40}

In [138]:
#popping elements
fruit1.pop("apple")

10

In [139]:
fruit1

{'mango': 20, 'banana': 30, 'guava': 40}

### Set
##### unordered and unindexed  collection of elements enclosed with {x}
##### dublicates not allowed

In [142]:
set1={3,3.14,"sparta"}

In [143]:
set1

{3, 3.14, 'sparta'}

In [144]:
#Set operation
#update dictionary elements
#removing an element
#updating multiple elements

In [145]:
#updating one dictionary's element with another
set1.add("hello")
set1

{3, 3.14, 'hello', 'sparta'}

In [147]:
#removing
set1.remove("sparta")
set1

{3, 3.14, 'hello'}

In [148]:
#updating multiple element
set1.update([10,20,30])
set1

{10, 20, 3, 3.14, 30, 'hello'}

In [150]:
#set functions
#union of two sets
#intersection of two sets

s1={1,2,3}
s2={"a","b","c"}

s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [151]:
s1={1,2,3,4,6}
s2={5,6,7,9,0}
s1.intersection(s2)

{6}

### Dicision making statements
#### if else statement

In [152]:
a=10
b=20

In [153]:
if b>a:
    print("b is greater than a")

b is greater than a

In [155]:
if a>b:
    print("b is greater than a") #unable to print because here else statement is not given

In [156]:
if a>b:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [157]:
a=10
b=20
c=40

In [158]:
if (a>b) & (a>c):
    print("a is the greatest")
elif (b>a)&(b>c):
    print("b is the greatest")
else:
    print("c is the greatest")

c is the greatest

In [159]:
#if with tuple

In [160]:
tup1=("a","b","c")

In [161]:
tup1

('a', 'b', 'c')

In [174]:
if "a" in tup1:
    print("presnt")
else:
    print(false)

presnt

In [164]:
#if with list
list1=["a","b","c","mango"]

In [165]:
list1

['a', 'b', 'c', 'mango']

In [169]:
if list1[1]=="b":
    print("true")
else:
    print(False)

true

In [172]:
if list1[2]=="c":
    list1[2]="saloni"

In [173]:
list1

['a', 'b', 'saloni', 'mango']

In [175]:
#if with dictionary
dic1={"k1":10,"k2":20,"k3":30}

In [176]:
dic1

{'k1': 10, 'k2': 20, 'k3': 30}

In [178]:
if dic1["k3"]==30:
    dic1["k3"]=dic1["k3"]+100

In [179]:
dic1

{'k1': 10, 'k2': 20, 'k3': 130}

#### Looping statement
use to repeat the task

In [180]:
#while loop

i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [181]:
i=1
n=2
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [182]:
#while with list
list1=[1,2,3,4,5]

In [184]:
#add 100 in every value
i=0
while i<len(list1):
    list1[i]=list1[i]+100
    i=i+1

In [185]:
list1

[101, 102, 103, 104, 105]

##### For loop
used to iterate over a sequence(tuple,list,dictionary..)

In [186]:
list1=["mango","apple","orange"]

In [187]:
for i in list1:
    print(i)

mango
apple
orange

In [189]:
list1=["orange","black","white"]
list2=["chair","book","laptop"]

In [190]:
for i in list1:
    for j in list2:
        print(i,j*2)

orange chairchair
orange bookbook
orange laptoplaptop
black chairchair
black bookbook
black laptoplaptop
white chairchair
white bookbook
white laptoplaptop